<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="./vendor/autoload.php"
         colors="true"
         verbose="true"
         backupGlobals="false"
         syntaxCheck="false"
         processIsolation="false"
         stopOnFailure="false"
         backupStaticAttributes="false"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true">
    <testsuites>
        <testsuite name="Immortal Framework Tests">
            <directory>./tests/</directory>
        </testsuite>
    </testsuites>
</phpunit>
